h3{
    text-align: center;
    font-family:monospace;
    font-weight: 600;
    color: rgb(32, 32, 151);
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
}
b{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}