@import url('https://fonts.googleapis.com/css?family=Numans');


body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('back/evm1.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
    background-size: inline; 
    background-position: center;
}

.container-fluid {
    height: 625px;
    align-content: center;
}


.card {
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #02af36;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #068b2e;
    color: rgb(0, 0, 0);
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #fff;
    background-color: #fff;
    width: 100px;
}


.links {
    color: yellow;
}

.links a {
    color: #fff;
    margin-left: 4px;
}